{% extends 'template_base.html' %}


{% block navlinks %}
            <a class="navbar-brand" id="navSaisie">
                Saisie
            </a>
            <a class="navbar-brand" id="navVue">
                Vue des résultats
            </a>
{% endblock %}

{% block navinfo %}
                <li class="nav-item">
                    <a>Groupe : <span class="badge bg-secondary">{{equipe}}</span></a>
                </li>
                <li class="nav-item">
                    <a>Scénario : <span class="badge bg-secondary">{{partie}}</span></a>
                </li>
{% endblock %}

{% block constantes %}
<script>
    const equipe  = '{{ equipe | safe }}';
    const partie  = '{{ partie | safe }}';
    var annee  = '{{ annee | safe }}';
    var annee_int  = {{ annee | safe }};
</script>
{% endblock %}
