{% extends 'template_base.html' %}


{% block title %} Comparaison {% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/comparer.css">
<script>
   const liste = {{ liste | safe }};
   const compilation = {{ compilation | tojson }};
   const annees = {{ annees | safe }};

</script>

<!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
<!--script src="https://d3js.org/d3.v6.min.js"></script-->
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->

<!--script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script-->
<style>
   .tab-pane {
      position: relative;
      height: 0;
   }

   .chart-container {
      height: 100%;
   }
</style>
{% endblock %}

{% block navlinks %}
<a class="navbar-brand">
   Comparer
</a>

{% endblock %}


{% block content %}

{{ super() }}

<div class="menu">
   <ul>
      <li>
         <span onmouseenter="hoverEnter(0)">
            <i class="fa fa-home"></i>
         </span>
      </li>
      <li>
         <span onmouseenter="hoverEnter(1)">
            <i class="fa fa-edit"></i>
         </span>
      </li>
      <li>
         <span onmouseenter="hoverEnter(2)">
            <i class="fa fa-laptop"></i>
         </span>
      </li>
      <li>
         <span onmouseenter="hoverEnter(3)">
            <i class="fa fa-tag"></i>
         </span>
      </li>
      <span class="goo-index" id="goo-index"></span>
   </ul>
</div>

<div class="content-wrapper">
   <div id="screen_0" class="screen visible">
      <h2>keep calm and happy</h2>
      <div id="resultats" class="container" style="display: none;">
      </div>
   </div>

   <div id="screen_1" class="screen">
      <h2>keep travelling</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
         dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
         ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
         nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
         anim id est laborum.</p>
      <div class="image"
         style="background-image:url(https://images.unsplash.com/photo-1506773090264-ac0b07293a64?ixlib=rb-1.2.1&auto=format&fit=crop&w=376&q=80)">
      </div>
   </div>


   <div id="screen_2" class="screen">
      <h2>World in 30 Days</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
         dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
         ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
         nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
         anim id est laborum.</p>
      <div class="image"
         style="background-image:url(https://images.unsplash.com/photo-1514282401047-d79a71a590e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80)">
      </div>
   </div>


   <div id="screen_3" class="screen">
      <h2>Help Other To Get The Same</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
         dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
         ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
         nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
         anim id est laborum.</p>
      <div class="image"
         style="background-image:url(https://images.unsplash.com/photo-1467269204594-9661b134dd2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)">
      </div>
   </div>
</div>

<!--div class="container">
   <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item">
         <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
            Tab 1
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
            Tab 2</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
            Tab 3
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div class="tab-pane active" id="tab1" role="tabpanel">
         <div class="chart-container"> C1
            <div id="resultats" class="container" style="display: none;"></div>
         </div>
      </div>
      <div class="tab-pane" id="tab2" role="tabpanel">
         <div class="chart-container">
            C2

         </div>
      </div>
      <div class="tab-pane" id="tab3" role="tabpanel">
         C3<div class="chart-container"></div>
      </div>
   </div>
</div-->



{% endblock%}

{% block endscripts %}

{{ super() }}
<script src="/static/d3.v7.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/comparer.js"></script>

<script>
   var gooIndex = document.getElementById('goo-index');
   var hoverEnter = index => {
      gooIndex.style.top = 100 * index + 'px';
      let allScreens = document.querySelectorAll('.screen');
      allScreens.forEach(e => {
         e.classList.remove('visible')
      })
      let nowVisible = document.getElementById('screen_' + index);
      nowVisible.classList.add('visible');
   }

   $(function () {


      fillPage();

      $("#resultats").fadeIn();

   });

</script>

{% endblock %}