
{% extends 'template_base.html' %}


{% block title %} Comparaison {% endblock %}


{% block head %}
{{ super() }}
<script>
    const liste  = {{ liste | safe }};
    const compilation  = {{ compilation | tojson }};
    const annees = {{ annees | safe }};
</script>


{% endblock %}

{% block navlinks %}
            <a class="navbar-brand">
				{{ title }}
            </a>

{% endblock %}


{% block content %}
{{ super() }}

	{{ liste }}

   <div id="resultats" class="container" style="display: none;">

{% endblock%}

{% block endscripts %}

{{ super() }}
<script src="/static/d3.v7.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/comparer.js"></script>

<script>
   $(function () {

   fillPage();

   $("#resultats").fadeIn();

   });

</script>

{% endblock %}



