{% extends 'template_base.html' %}


{% block title %} Comparaison {% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/comparer.css">


<!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
<!--script src="https://d3js.org/d3.v6.min.js"></script-->
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->

<!--script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script-->

{% endblock %}

{% block navlinks %}
<a class="navbar-brand">
   Comparer 
</a>

{% endblock %}


{% block content %}

{{ super() }}

<div class="menu-wrapper">
   <div class="menu">
      <ul>
         <li>
            <span>
               <i class="fa fa-euro-sign"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa fa-minus"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa fa-temperature-high"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa fa-gas-pump"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa fa-scale-balanced"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa fa-radiation"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa fa-wind"></i>
            </span>
         </li>
         <li>
            <span>
               <i class="fa-regular fa-sun"></i>
            </span>
         </li>
         <span class="goo-index" id="goo-index"></span>
      </ul>
   </div>
   <div class="content_wrapper">
      <div id="screen_0" class="screen">
         <h2>Coûts (Milliards d'euro)</h2>
         <div id="graphe_couts" class="container" style="display: none;">
         </div>
      </div>

      <div id="screen_1" class="screen">
         <h2>Penuries (nb d'heures)</h2>
         <div id="graphe_penuries" class="container">   </div>
      </div>

      <div id="screen_2" class="screen">
         <h2>Gaz à effet de serre (Million de tonnes eCO2)</h2>
         <div id="graphe_co2" class="container">   </div>

      </div>

      <div id="screen_3" class="screen">
         <h2>Consommation de Gaz Fossile (GWh)</h2>
         <div id="graphe_gaz" class="container">   </div>
      </div>

      <div id="screen_4" class="screen">
         <h2>Equilibre ENR/nucleaire (%)</h2>
         <div id="graphe_equilibre" class="container">   </div>
      </div>

      <div id="screen_5" class="screen">
         <h2>Nucléaire installé (GWc)</h2>
         <div id="graphe_nuke" class="container">   </div>
      </div>

      <div id="screen_6" class="screen">
         <h2>Eolien installé On et Off (GWc)</h2>
         <div id="graphe_eolien" class="container">   </div>
      </div>

      <div id="screen_7" class="screen">
         <h2>Photo Voltaïque installé (GWc)</h2>
         <div id="graphe_pv" class="container">   </div>
      </div>
   </div>
</div>


{% endblock%}

{% block endscripts %}

{{ super() }}
<script src="/static/d3.v7.min.js" charset="utf-8"></script>
<script>
   const liste = {{ liste | safe }};
   const compilation = {{ compilation | tojson }};
   const annees = {{ annees | safe }};      
</script>
<script type="text/javascript" src="/static/comparer.js"></script>

{% endblock %}